body{
background-color: #181818;
}

#title{
     color: white;
     font-weight: bold;
     text-align: center;
}

h3#title a{
     font-weight: 100;
     color: grey;
     font-size:16px;
     text-decoration: none;    
}

.cont{
	width: 900px;
	margin:0px auto;
	padding-top:30px;
}

.pane{
	display: inline-block;
	height:500px;
	border: 2px solid black;
	box-shadow :2px 0px 3px #303030 inset;
	box-shadow : 5px 5px 15px black;
	vertical-align: middle;	
}

#task-pane,#task-pane *{
     borde: 1px solid orange;
}

#task-pane{
	width:310px;
	position:relative;
	padding: 40px 20px 30px 30px;
}

.newtaskcontainer{
	margin-bottom: 20px;
	position: relative;
	height:40px;
	text-align:center;
}

.titleinput{
	text-align: center;
	height: 35px;
	width:180px;
}

.currinput{
     background-color: teal;
     color: white ;
     border: 3px solid white;
}

.completedinput{
     background-color:#181818 ;
     border: 3px solid #343436;
     color: #555 ;
}

i.fa-window-close-o{
	position:absolute;
	z-index:10;
	font-size:25px;
	right:0px;
	top:5px;
}

button#addtask{
	margin-bottom: 35px;
	margin-left: 50%;
	transform: translate(-50%,0);
	font-size:12px;
	padding:5px 10px;
}

#clearallbtn{
	position: absolute;
	z-index:10;
	bottom:30px;/*equal to padding-bottom of taskpane*/
	left:50%;
	transform: translate(-50%,0);
	padding:5px 10px;
	font-size:12px;
}

div#timer-pane{
	width: 550px;
     position: relative;
     padding:0px;
}

#settings-panel{
     width:100%;
     height:auto;
     background-color:teal;
     position: absolute;
     top:0px;
     text-align:center;
     z-index:10;
}

i.fa-cogs{
     font-size: 50px;
     color: black;
     margin: 10px;
}

div#settime{
     display: none;
     height:70px;
     margin: 20px;
     padding:10px;
}

#settime > i, #settime > span{
     font-size:30px;
     background-color:transparent;
     color:black;
     border:none;
     margin: 10px 10px 0px 10px;
}

div#clock{
     position:absolute;
     top:50%;
     left:50%;
     transform:translate(-50%,-70%);
     text-align:center;
}

button#timer{
     height: 190px;
     width:190px;
     border-radius: 50%;
     font-size: 4em;
     color:teal;
     background-color: white;
     font-weight: normal !important;
     cursor: default;
}

#control-bar{
     position: absolute;
     z-index: 1;
     bottom:-75px;
     height:75px;
     left: 50%;
     transform: translate(-50%,0);
}

#control-bar > i{
     font-size:3em;
     margin:10px 15px;
     color:teal;
}

div.bottomdiv, div.bottomdiv *{
     borde: 1px solid orange;
}

div.bottomdiv{
     height: auto;
     position: absolute;
     bottom: 30px;    
     text-align: center;
     width:100%;
     font-size: 17px;
}

#workingon{
     line-height:40px;
     color: white;
     font-size:15px;
}

#tname
{
     display: inline-block;
     width: auto;
     height:auto;
     padding: 5px 10px 5px 10px;
     font-size:12px;
     margin: auto 10px;
     background-color :none;
}

.styletask{
     background-color: teal;
     color: black;
}

.stylebreak{
     background-color: none;
     color: teal;
     font-weight: bold;
}

button#command{
     display: block;
     font-size: 0.8em;
     height:40px;
     width:150px;
     right:-100%;
     margin-left:-170px;
     position:relative;
}

button{
     background-color: crimson;
     color:rgba(255,255,255,0.7);
     outline: none;
     border: 1px solid transparent;
}

button:active{
     opacity: 0.5;
}